body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 30px;
}

td {
  height: 60px;
  width: 60px;
  text-align: center;
}

a {
  color: #00b7ff;
}
